{% extends 'shared/base.html' %}
{% load static %}
{% block content%}
        <section class="galeria" style="margin-left: 5em">
          <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="row">
              {% for field in form %}
              <div class="col-12 col-lg-12" style="margin-bottom: 10px">
                <label
                  for="{{ field.id_for_label }}"
                  style="color: #d9d9d9; margin-bottom: 5px"
                  ><b>{{ field.label }}</b></label
                >
                {{ field }}
              </div>
              {%for error in field.errors %}
              <div class="alert alert-danger col-12 col-lg-12">{{ error }}</div>
              {% endfor %} {% endfor %}
            </div>
            <div>
              <button
                type="submit"
                class="btn btn-success col-12"
                style="padding: top 5px"
              >
                Registrar
              </button>
            </div>
          </form>
        </section>
      </main>
    </div>
  </body>
{% endblock %}
